<!--include Header-->
<%- include('include/_header') %>
<!--/include Header-->



<a href="/"> all users</a><br><br><br>

<h2>New User</h2>
<!--form-->
<%- include('include/_form') %>
<!--/form-->



<!--include Footer-->
<%- include('include/_Footer') %>
<!--/include Footer-->