<form method="POST" id="add_user">
    <div style="width: 500px;">
        <label for="ex3">Name</label>
        <input class="form-control" name="Name" id="ex3" type="text">
      <br>
      
        <label for="ex3">Email</label>
        <input class="form-control" name="Email" id="ex3" type="text">
      <br>

      <div>
        <label><input type="radio" name="Gender" checked>Male</label>
      </div>
      <div>
        <label><input type="radio" name="Gender">Female</label>
      </div>
      <div><br>
        <label><input type="radio" name="Status" checked>Active</label>
      </div>
      <div>
        <label><input type="radio" name="Status">Inactive</label>
      </div>
    </div>

    <button type="submit" value="Submit">Save</button>

</form>